body {
  background-color: rgb(197, 195, 195);
  font-size: 1.5em;
}
*:not(#nav) {
  margin: 0.35em;
  text-decoration: none;
}
#nav ul a {
  color: black;
  font-weight: 500;
}
#nav ul a:hover {
  color: rgb(0, 162, 255);
}
.active {
  color: red !important;
}
#nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  list-style-type: none;
}

article#espacement_button {
  display: flex;
  justify-content: space-evenly;
  gap: 2em;
}
/* ///// JEU HASARD ////// */
article#donnee_classement {
  margin: auto;
}
article#donnee_classement tbody tr:nth-of-type(1) {
  background-color: gold;
}
article#donnee_classement tbody tr:nth-of-type(2) {
  background-color: rgb(227, 227, 227);
}
article#donnee_classement tbody tr:nth-of-type(3) {
  background-color: #cd7f32;
}
p#erreur {
  word-wrap: break-word;
}
button {
  background-color: rgb(0, 0, 0);
  height: auto;
  font-size: 1em;
  font-weight: 700;
  color: white;
  border: none;
  padding: 1em 1.5em;

  border-radius: 1em;
  cursor: pointer;
  /* margin: auto; */
}
input {
  border-radius: 1em;
  text-align: center;
  padding: 0.8em 1em;
  align-self: center;
  font-size: 1em;
}
h3 {
  text-align: center;
}
/* ///////// PENDU //////////     */

#app {
  margin: auto;
}
#chiffre_start {
  font-size: 1.3em;
}
main {
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
}
.buttoncategorie {
  padding: 0.25em;
}

p {
  word-wrap: break-word;
}
li {
  text-align: left;
}

#bonne {
  color: green;
}
#moyen {
  color: yellow;
}
#mauvaise {
  color: red;
}

#imggroupe img {
  width: 30vh;
}
div#imggroupe {
  display: flex;
  justify-content: space-between;
}
#groupe1,
#groupe2,
#groupe3 {
  display: flex;
  flex-direction: column;
}
.fusee,
#fusee {
  position: relative;
  bottom: 0;
}

@keyframes fuseegroupee {
  0% {
    bottom: 0vh;
  }
  30% {
    bottom: 20vh;
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}
.fusee {
  animation: fuseegroupee 5s infinite;
}

@keyframes explosion {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
.explosion {
  animation: explosion 5s infinite;
}

@keyframes fuseecent {
  0% {
    bottom: 0vh;
  }
  15% {
    bottom: 20vh;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

#fusee {
  animation: fuseecent 10s infinite;
}

@keyframes explosioncent {
  0% {
    opacity: 0;
    border-radius: 99em;
  }

  50% {
    opacity: 0.8;
  }
  62.5% {
    border: double rgb(0, 229, 255) 10px;
  }
  75% {
    border: double rgb(255, 0, 0) 10px;
  }
  87.5% {
    border: double rgb(219, 183, 0) 10px;
  }
  100% {
    opacity: 1;
    border: double rgb(1, 134, 57) 10px;
    border-radius: 99em;
  }
}
#explosion {
  animation: explosioncent 10s infinite;
  box-sizing: border-box;
}

#rafraichir {
  background-color: rgb(0, 191, 255);
}
.reponse {
  text-align: center;
}

/* /////QUIZZZZ///// */
div#choix {
  margin-top: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}
article#contenu_reponse {
  width: 70%;
  margin: auto;
  font-size: 1.1em;
}
.joker {
  position: absolute;
  top: 0;
  left: 15%;
  background-color: rgb(92, 179, 0);
  width: 6em;
  text-align: center;
}
@media screen and (max-width: 1000px) {
  body {
    font-size: 1em;
  }

  img {
    max-width: 100%;
    height: auto;
  }
  .fusee,
  #fusee {
    position: relative;
    bottom: 0;
  }
  @keyframes fuseegroupee {
    0% {
      bottom: -15vh;
    }
    30% {
      bottom: 5vh;
      opacity: 0;
    }

    100% {
      opacity: 0;
    }
  }
  @keyframes fuseecent {
    0% {
      bottom: -15vh;
    }
    15% {
      bottom: 5vh;
    }
    20% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  .joker {
    left: 0;
  }
}
